.vzb-tool-dialogs {
  .vzb-dialogs-dialog {
    &[data-btn='more-options'] {
      .vzb-dialog-content {
        &.vzb-accordion {
          padding: 0 0 5px;
          .vzb-accordion-section { 
            overflow: hidden;
            max-height: 41px;
            padding-bottom: 20px;
            width: auto;
            border: 0;
            .vzb-dialog-content {
              font-size: $vzb-font-size-regular;
            }
            &.vzb-accordion-active {
              max-height: 500px;
              transition: all .3s ease-in-out;
              .vzb-dialog-title::after {
                @include rotate(135deg);
                content: '';
                position: absolute;
                top: 18px;
                right: 20px;
                width: 5px;
                height: 5px;
                border-right: 1px solid $vzb-color-primary;
                border-top: 1px solid $vzb-color-primary;            
              }
            }
            .vzb-dialog-title {
              display: block;
              position: relative;
              margin: 0 0 20px;
              color: $vzb-color-primary;
              font-family: $vzb-font-family-alt;
              font-size: $vzb-font-size-medium; 
              text-transform: uppercase;
              padding-bottom: 0;
              >span:first-child {
                display: block;            
                padding: 9px 15px 10px 10px;
                font-size: .9em;    
                height: 39px;
                background-color: $vzb-color-primary-lightest;
                cursor: pointer;
              }
  
              &::after {
                @include rotate(45deg);
                content: '';
                position: absolute;
                top: 18px;
                right: 20px;
                width: 5px;
                height: 5px;
                border-right: 1px solid $vzb-color-primary;
                border-top: 1px solid $vzb-color-primary;
              }
            }
          }
        }
      }
  
      .vzb-dialog-sublabel {
        display: block;
        div {
          display: inline-block;
        } 
        &.saxis-label {
          float: left;
        }
      }  

    }
  }
}
