.vzb-dialogs-dialog {
  &[data-btn="size"] {
    &.vzb-moreoptions {
      .vzb-dialog-title {
        .vzb-ip-select {
          margin-top: 25px;
          margin-left: 38px;
          line-height: 20px;
          font-weight: 700;
          text-transform: none;
        }
      }
    }
  }
}

//responsiveness
&.vzb-large {
  &.vzb-dialog-expand-true {
    .vzb-dialogs-dialog {
      &[data-btn="size"] {
        &.vzb-sidebar {
          flex: none;

          .vzb-dialog-content {
            max-height: 190px;
            min-height: 120px;
          }
          
          .vzb-dialog-title {
            display: inline-block;
          }
          
          .vzb-saxis-selector {
            display: inline-block;
            margin: 0 0 5px 10px;
          }
        }
      }
    }
  }
}
